[Desktop Entry]
Version=1.0
Type=Application
Name=MSNoise config
Comment=
Exec=msnoise config
Icon=applications-internet
Path=
Terminal=true
StartupNotify=false

